@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Name
        </th>
        <td>
            @ViewBag.Student.Name
        </td>
    </tr>
    <tr>
        <th>
            Profession
        </th>
        <td>
            @ViewBag.Student.Profession
        </td>
    </tr>
    <tr>
        <th>
            Age
        </th>
        <td>
            @ViewBag.Student.Age
        </td>
    </tr>
    <tr>
        <th>
            Gender
        </th>
        <td>
            @ViewBag.Student.Gender
        </td>
    </tr>
    <tr>
        <th>
            Address
        </th>
        <td>
            @ViewBag.Student.Address
        </td>
    </tr>
    <tr>
        <th>
            Addmission Date
        </th>
        <td>
            @ViewBag.Student.AddmissionDate
        </td>
    </tr>
    <tr>
        <th>
            Fees
        </th>
        <td>
            @ViewBag.Student.Fees
        </td>
    </tr>

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


